@import url('https://fonts.googleapis.com/css?family=Anton|Dosis');
body {
  overflow-x: hidden;
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
  /*background: red;*/
  /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(-90deg, purple, black);*/
  /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(-90deg, red, yellow);*/
  /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(-90deg, red, yellow);*/
  /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(-90deg, red, yellow);*/
  /* Standard syntax */
}

.main {
  height: 200px;
  margin: 100px auto;
  text-align: center;
}

button {
  padding: 20px 25px;
  background: transparent;
  font-size: 18pt;
  border: 1px solid gold;
  color: yellow;
  outline: 0;
}

.container {
  border: 1px solid #f2f2f2;
  margin-top: 70px;
  background-attachment: fixed;
  text-align: left;
  margin-bottom: 70px;
}

img {
  height: 500px;
  width: 600px;
  margin: 0;
  border: 0px solid green;
  box-shadow: 2px 3px 4px black;
}

h1 {
  margin: auto;
  text-align: center;
}

#demo {
  font-family: 'Anton', sans-serif;
}

p, li {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

ul li {
  list-style: none;
}

ul {
  border: 1px solid #f2f2f2;
  padding: 20px;
}

.contact_me {
  text-align: center;
  padding: 30px;
  font-family: 'Dosis', sans-serif;
}

.contact_me h3 {
  font-weight: 900;
}

#contact-form {
  display: none;
}
