html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Roboto Condensed', sans-serif;
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

.roomy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.roomy-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.roomy-60 {
    padding-top: 100px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*text color*/

.text-muted{}

.text-primary{color: #ee997b !important;;}
.text-finence{color:#13A0B2 !important;;}
.text-mega{color:#ee997b !important;;}
.text-white{color:#fff !important;;}
.text-black{color:#000 !important;}

.text-warning{}
.text-danger{}

.disabled{
    cursor: not-allowed;
}

/*bacground color*/
.bg-light {
    background-color: #f3f3f3;
}
.bg-primary{background-color: #1E8BC3;}
.bg-finence{background-color:#13A0B2;}
.bg-mega{background-color:#e5e5e5;}
.bg-grey{background-color: #f5f5f5;}
.bg-black{background-color: #212121;}
.bg-white{background-color: #fff;}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
    background-color: transparent;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}
h6 {
    font-size: 1rem;
}



h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span{
    color:#ee997b;
}

p {
    line-height: 1.5rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*colors*/
.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*
Section
*/

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

/*all overlay*/
.overlay{
    background-color: rgba(51,51,51,0.50);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.left-no-padding {
    padding-left: 0 !important;
}
.right-no-padding {
    padding-right: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*
Separator
*/
.separator_left{
    width:85px;
    height:2px;
    margin:20px 0px;
    background: #000;
}
.separator_auto{
    width:85px;
    height:2px;
    margin:20px auto;
    background: #000;
}
.separator_small{
    width:30px;
    height:2px;
    margin:20px 0px;
    background: #000;
}

/*
Button
*/
.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    /*border:1px solid;*/
}

.btn:hover{
    color:#fff;
    /*border:1px solid;*/
}

.btn-default{
    border: 2px solid;
    border-color:#000000;
    background-color: transparent;
    color:#000000;
    padding:0.8rem 2.5rem;
    border-radius: 30px;;
}
.btn-default:hover{
    border-color:#ee997b;
    background-color: #ee997b;
}

.btn-primary{
    color: #fff;
    background-color: #333;
    border:1px solid;
    border-color: #333;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
}
.btn-primary:hover{
    background-color: #ee997b;
    border-color: #ee997b;
    color:#fff;
}

.btn-success{}
.btn-info{}
.btn-warning{}
.btn-danger{}
.btn-link{}



/*
socail icon
--------------------------------*/
/*a i.share{
    color:#1E8BC3;
    -webkit-transition: all .6s;
    transition: all .6s;
}*/


/*
Extra height css
*/
.m-0{
    margin:0 !important;
}
.m-top-0{
    margin-top:0;
}
.m-r-0{
    margin-right: 0;
}
.m-l-0{
    margin-left: 0;
}
.m-l-30{
    margin-left: 30px;
}
.m-l-40{
    margin-left: 40px;
}
.m-b-0{
    margin-bottom: 0;
}

.m-r-15{
    margin-right: 15px;
}
.m-l-15{
    margin-left: 15px;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-60 {
    margin-top: 60px;
}
.m-top-70 {
    margin-top: 70px;
}
.m-top-80 {
    margin-top: 80px;
}
.m-top-90 {
    margin-top: 90px;
}
.m-top-100 {
    margin-top: 100px;
}
.m-top-110 {
    margin-top: 110px;
}
.m-top-120 {
    margin-top: 120px;
}
.m-top-150 {
    margin-top: 150px;
}
.m-top-180 {
    margin-top: 180px;
}

.m-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.m-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.m-bottom-10 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-70 {
    margin-bottom: 70px;
}

.m-bottom-80 {
    margin-bottom: 80px;
}

.m-bottom-90 {
    margin-bottom: 90px;
}

.m-bottom-100 {
    margin-bottom: 100px;
}

.m-bottom-110 {
    margin-bottom: 110px;
}

.m-bottom-120 {
    margin-bottom: 120px;
}

.m_t__b{
    margin: 14rem 0;
}
.p_t__b{
    padding: 6rem 0;
}

p-0{
    padding:0 !important;
}

.p-l-15{
    padding-left: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}
.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}
.p-top-110 {
    padding-top: 110px;
}

.p-bottom-110 {
    padding-bottom: 110px;
}

.p-bottom-0 {
    padding-bottom: 0;
}

.p_l_r{
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}

/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}

/*border*/
.no-border-top{
    border-top:0px solid transparent !important;
}
.no-border-rigth{
    border-right:0px solid transparent !important;
}
.transform_scal_rotate:hover img{
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.culmn{
    width:100%;
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    /*padding-bottom: 7.143rem;*/
    overflow: hidden;
}
.head_title h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:2.286rem;
    color:#1a1a1a;
}
.head_title p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size:1rem;
    color:#4a4a4a;
}

/*End off pridifain css*/


/*Preloader css*/
#loading{
    background-color: #ee997b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 90;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;
}
.object{
    width: 8px;
    height: 50px;
    margin-right:5px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
}

.object:nth-child(10){
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.object:nth-child(9){
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.object:nth-child(8){
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.object:nth-child(7){
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.object:nth-child(6){
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.object:nth-child(5){
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.object:nth-child(4){
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.object:nth-child(3){
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.object:nth-child(2){
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes animate {

    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);

    }

}

@keyframes animate {
    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);
    }

}

/*End off Preloader*/


/*
Nav Menu style
==================*/

.me{
  height: 570px;
  width:435px;
}
.navbar-brand {
    height: 80px;
    padding: 30px 15px;
}
.navbar-brand .logo{
  height: 60px;
  width:150px;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.attr-nav > ul > li > a {
    padding: 30px 15px;
}

.cart-list li h6 a{
    color:#000;
}

.home{
    background-size: cover;
    position: relative;
}
.home{
    background: url(../images/background/homepage-bg.jpg) no-repeat top center;
}

/*
Home Section style
==================*/


.main_home{
    overflow: hidden;
    padding-top: 300px;
    padding-bottom: 230px;
    position: relative;
    z-index: 1;
}
.home_text h1{
    font-family: 'Raleway', sans-serif;
    font-size:4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}

.home_text h5{
    font-family: 'Crimson Text', serif;
    font-size:18px;
    font-weight: 400;
    width:70%;
    margin:0px auto;
    line-height: 2rem;
}



/*
About section style
====================*/
.main_feature{
    width:100%;
}
.feature_content{}
.feature_photo{
    position: relative;
}
.feature_img img{
    width:100%;
}
.photo_border{
    width:100%;
    height: 100%;
    position: absolute;
    left:5%;
    top:5%;
    border:10px solid #c9c9c9;

}


.counter_item h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:60px;
    font-style: italic;

}
.counter_item h5{}
.counter_item .separator_small{
    margin: 20px auto;
}


/*Work Section
=====================================*/

.main_work{}
.work_item{
    position: relative;
    top:-40px;
}
.work_item_img img{
    width:100%;
}
.work_item_details{
    position: relative;
}
.work_separator1:before{
    content: "";
    position: absolute;
    right: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}
.work_separator2:before{
    content: "";
    position: absolute;
    left: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}


/*========================================================================
                gallery Section Style
==========================================================================*/
.gallery{
    overflow: hidden;
}

/* ---- button ---- */

.main-gallery .button {
    display: inline-block;
    margin: 0rem 0.25rem;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-radius: 0px;
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    outline: none;
    border-bottom: 1px dotted #333;
    font-weight: 400;
}

.main-gallery .button:focus,
.main-gallery .button:active:focus,
.main-gallery .button.active:focus,
.main-gallery .button.focus,
.main-gallery .button:active.focus,
.main-gallery .button.active.focus{
    outline: 0;
    outline-offset:0;
}

.main-gallery .button:hover {
    color: #ee997b;
}

.main-gallery .button:active,
.main-gallery .button.is-checked {
    color:#ee997b;
}

.main-gallery .button.is-checked {
    color: #ee997b;
    border-bottom: 1px dotted transparent;
}


/* ---- isotope ---- */

.main-gallery .grid {
    margin: 0;
    padding:0;
}

/* clear fix */

.main-gallery .grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.main-gallery .grid-item {
    position: relative;
    margin: 5px;
    width:372px;
    overflow: hidden;
}

.main-gallery .grid-item img{
    width:100%;
    height: 100%;
    transition: all 0.6s;

}

.main-gallery .grid-item:hover img{
    transform: scale(1.1) ;
}

.main-gallery .grid-item:hover .grid_hover_area{
    opacity: 1;
}

.main-gallery .grid_hover_area {
    background-color: rgba(7,8,10,0.50);
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

.main-gallery .grid_hover_area .btn{
    padding:0.5rem 1rem;
}
.main-gallery .grid_hover_text a{
    display: block;
}




/*
service section style
========================*/

.service_items {
    margin: 40px 0;
}

.service_items .hexagon i,
.service_items .hexagon span{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ee997b;
    margin:0;
    line-height: 70px;
    font-size:2rem;
    color:#fff;
    border-radius: 50%;
}

.service_items .about-content {
    width: 100%;
    position: absolute;
    z-index: 22;
    line-height: 3.2rem;
    text-align: center;
}
.service_items .about-content span.icon{
    font-size:1.5rem;
    color:#fff;
}
.service_right_text h4,
.service_left_text h4{
    font-weight: 400;
    font-size:16px;
}

.service_right_text p,
.service_left_text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:14px;
    font-weight: 400;
}



/*
Testimonial Section style
=======================*/
.testimonial{
    position: relative;
}
.main_testimonial{
    position: relative;
    z-index: 1;
}

.main_testimonial .testimonial_item h6{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_testimonial .testimonial_item p{
    font-size:14px;
    width:80%;
    margin: 20px auto;
}

.main_testimonial .carousel-control{
    width:45px;
    height: 45px;
    line-height:  42px;
    text-align: center;
    color:#999;
    cursor: pointer;
    position: relative;
    background-image: none;
    display: inline-block;
    font-size:14px;
}
.main_testimonial .carousel-control.left,
.main_testimonial .carousel-control.right{
    box-shadow:0px 0px 0px;
    opacity: 1;
}
.main_testimonial .slash{
    font-size: 2rem;
    color: #ddd;
    height: 45px;
    bottom: -5px;
    display: inline-block;
    position: relative;
}

.test_authour img{
    margin: 0px auto;
}


/*
Brand Section style
=====================*/
.main_cbrand{
    overflow: hidden;
    width:100%;
}
.cbrand_item {
    height: 100px;
    overflow: hidden;
}
.cbrand_item img{
    width:50%;
    opacity: 0.7;
    transition: all 0.6s;
}
.cbrand_item img:hover{
    opacity: 1;
}
.cbrand_item img.img_apple{
    width:25%;
    padding: 10px;
}


/*
Models Section style
=====================*/

.main_models{}
.model_item{}
.model_img{
    position: relative;
    overflow: hidden;
}
.model_img:hover .model_caption{
    bottom:0;
}
.model_img img{
    width:100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.model_img:hover img{
    width:100%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.model_caption{
    background-color: #333;
    width:100%;
    position: absolute;
    left:0;
    bottom:-60px;
    transition: all 0.6s;
}
.model_caption h5{
    padding: 15px;
}

.meet_team{
    background-color: #fff;
    width:100%;
    height: 100%;
}

.meet_team a{
    padding:120px 0px;
    display: inline-block;
    font-weight: 400;
    font-size:14px;
    color:#000;
}





/*
Contact Section style
=====================*/

.main_contact{
    overflow: hidden;
}
.main_contact a.btn{
    /*width:100%;*/
}

.widget_socail{}
.widget_socail ul li a i{
    background-color: #434343;
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.widget_socail ul li a:hover i{
    background-color: #ee997b;
}


/*
Footer Section style
=====================*/

.main_footer{
    overflow: hidden;
}

.main_footer i {
    padding: 0px 5px;
    color: black;
}
.main_footer p a {
    padding: 5px;
}
.main_footer p a ,
.main_footer li a {
    color: #000;
}




/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #ee997b;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

/*
==================================================
          Model Details Page
==================================================
*/

/* Skill bar*/

.teamskillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background: #e1e1e1;
    height:4px;
    -webkit-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    transition-property:width, background-color;
}
.teamskillbar h6{
    position: absolute;
    top:-25px;
    left:0;
    width:100%;
}
.teamskillbar h6.one{
    width:63%;
}
.teamskillbar h6.two{
    width:75%;
}
.teamskillbar h6.three{
    width:88%;
}
.teamskillbar h6.foure{
    width:76%;
}
.teamskillbar-bar {
    height:2px;
    width:0px;
    background:#000000;
    position: absolute;
    left:1px;
    top:1px;
}
